@media (min-width: 500px) {
  #root {
    display: grid;
    height: 100vh;
    grid-template-columns: 140px 135px auto 135px;
    grid-template-rows: 44px auto 1fr;
    overflow: hidden;
  }
  #left-column {
    grid-column: 1;
    grid-row: 1 / 4;
    background-color: rgba(0, 0, 0, 0.04);
    border-right-color: rgb(222, 222, 222);
    border-right-width: 1px;
    border-right-style: solid;
  }
  #top-row {
    grid-column: 2 / 5;
    grid-row: 1;
    background-color: rgba(0, 0, 0, 0.04);
  }
  #grab-other {
    grid-row: 1;
    grid-column: 1;
    -webkit-app-region: drag;
    z-index: -100;
    height: 15px;
  }
  #grab-mac {
    grid-row: 1;
    grid-column: 1;
    -webkit-app-region: drag;
    z-index: -100;
  }
  #window-chrome {
    grid-row: 1;
    grid-column: 4;
    float: right;
    height: 33px;
  }
  #close-button {
    width: 40px;
    color: #888;
    margin-left: 1px;
    padding: 0px;
    float: right;
  }
  #menu-button,
  #minimize-button,
  #maximize-button {
    width: 30px;
    color: #888;
    margin-left: 1px;
    padding: 0px;
    float: right;
  }
  #close-button:hover {
    color: white;
    background-color: #e81123;
  }
  #menu-button:hover,
  #minimize-button:hover,
  #maximize-button:hover {
    color: #444;
    background-color: lightgray;
  }
}

@media (max-width: 499px) {
  #root {
    display: grid;
    height: 100vh;
    grid-template-columns: 0px 135px auto 135px;
    grid-template-rows: 250px auto 1fr;
    overflow: hidden;
  }
  #left-column {
    visibility: collapse;
  }
  #top-row {
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: rgba(0, 0, 0, 0.04);
  }
  #grabber {
    grid-row: 1;
    grid-column: 1 / 5;
    -webkit-app-region: drag;
  }
}
