#sidebar {
  margin: 0px 3px;
  overflow-y: hidden;
  padding: 4px;
  grid-row: 2 / 4;
  grid-column: 1;
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.sidebar-container {
  display: grid;
  grid-template-columns: 26px auto;
  cursor: pointer;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0)
  );
}

.sidebar-icon {
  grid-column: 1;
  height: 18px;
  width: 18px;
  margin-top: 6px;
  margin-left: 4px;
}

#Settings {
  background: url('../img/settings.svg');
  background-size: cover;
}

#Now-Playing {
  background: url('../img/playing.svg');
  background-size: cover;
}

#Albums {
  background: url('../img/album.svg');
  background-size: cover;
}

#Artists {
  background: url('../img/artist.svg');
  background-size: cover;
}

#All-Songs {
  background: url('../img/song.svg');
  background-size: cover;
}

#Playlists {
  background: url('../img/playlist.svg');
  background-size: cover;
}

.sidebar-text {
  grid-column: 2;
  align-self: center;
  margin: 4px;
}

.sidebar-selected {
  font-weight: 600;
}
