@media (min-width: 500px) {
  #song-container {
    grid-row: 1;
    grid-column: 3;
    justify-self: stretch;
    align-self: center;
    margin: 0px 8px;
    display: inline-grid;
    grid-template-columns: 36px 36px 1fr 36px auto;
    grid-template-rows: 15px 15px 6px;
    font-size: x-small;
    text-align: center;
    background-color: white;
    border: solid 1px rgb(230, 230, 230);
    font-weight: lighter;
  }
  #img-current-cover-art {
    height: 36px;
    width: 36px;
    object-fit: contain;
  }
  #song-cover-art {
    grid-column: 1;
    grid-row: 1 / 4;
    height: 36px;
    width: 36px;
    padding: 0px;
    -webkit-app-region: drag;
    border-right: solid 1px rgb(230, 230, 230);
  }
  #now-playing-current-time {
    grid-row: 1;
    grid-column: 2;
    font-size: xx-small;
    justify-self: left;
    margin-left: 2px;
  }
  #now-playing-remaining-time {
    grid-row: 1;
    grid-column: 4;
    font-size: xx-small;
    justify-self: right;
    margin-right: 2px;
  }
  #song-name {
    font-weight: bold;
    grid-row: 1;
    grid-column: 3 / 4;
    -webkit-app-region: drag;
    overflow: hidden;
    white-space: nowrap;
  }
  #artist-album {
    font-weight: bold;
    grid-row: 2;
    grid-column: 2 / 5;
    -webkit-app-region: drag;
    overflow: hidden;
    white-space: nowrap;
  }
  .song-slider {
    grid-row: 3;
    grid-column: 2 / 5;
    margin: -12px -4px;
    border: 0px;
    padding: 0px;
  }
  #showPlayOrder {
    grid-row: 2;
    grid-column: 5;
    margin-right: 1pt;
  }
}

@media (max-width: 499px) {
  #song-container {
    grid-row: 1 / 3;
    grid-column: 1 / 5;
    justify-self: stretch;
    align-self: stretch;
    margin: 0px;
    display: inline-grid;
    grid-template-columns: 80px auto 80px;
    grid-template-rows: auto 15px 15px 8px;
    font-size: x-small;
    text-align: center;
    font-weight: lighter;
  }
  #song-cover-art {
    display: block;
    height: 270px; /* min-width */
    grid-column: 1 / 4;
    align-self: stretch;
    justify-self: stretch;
    -webkit-app-region: drag;
    background-color: whitesmoke;
  }
  #img-current-cover-art {
    display: block;
    object-fit: contain;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
  }
  #now-playing-current-time {
    grid-row: 3 / 5;
    grid-column: 1;
    margin-top: 8px;
    margin-right: 36px;
  }
  #now-playing-remaining-time {
    grid-row: 3 / 5;
    grid-column: 3;
    margin-top: 8px;
    margin-left: 36px;
  }
  #song-name {
    font-weight: bold;
    grid-row: 2;
    grid-column: 2;
    overflow: hidden;
    white-space: nowrap;
    margin: -1px -8px;
  }
  #artist-album {
    font-weight: bold;
    grid-row: 3;
    grid-column: 2;
    overflow: hidden;
    white-space: nowrap;
    margin: -2px -8px;
  }
  .song-slider {
    grid-row: 4;
    grid-column: 1 / 4;
    margin: -13px 36px;
    padding: 0px;
  }
  #showPlayOrder {
    visibility: collapse;
  }
}
