@media (min-width: 500px) {
  #volume-container {
    grid-row: 1;
    display: grid;
    justify-self: center;
    align-self: center;
    padding-right: 10px;
    grid-template-columns: 24px auto;
    grid-template-rows: auto;
  }
  /* The volume control on mac goes to the right, as window buttons are on the left */
  .volume-container-mac {
    grid-column: 4;
  }
  /* For Windows/Linux, the volume control goes to the left so the window buttons can be on the right */
  .volume-container-win-linux {
    grid-column: 1;
  }
  .volume-slider {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    width: 86px;
    margin-left: 2px;
    z-index: 100;
  }
  #volIcon {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    z-index: 100;
  }
  #mute {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    margin-right: 4px;
    z-index: 100;
  }
}

@media (max-width: 499px) {
  #volume-container {
    grid-column: 4;
    grid-row: 2;
    display: grid;
    justify-self: end;
    align-self: end;
    padding-right: 3px;
    padding-bottom: 12px;
    grid-template-columns: 24px auto;
    grid-template-rows: auto;
    margin-right: -8px;
  }
  .volume-slider {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    width: 60px;
    margin-left: 4px;
    margin-right: 2px;
  }
  #volIcon {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    margin-right: -6px;
    font-size: 14px;
  }
  #mute {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    margin-right: -3px;
    font-size: 14px;
  }
}

#volIcon:hover,
#mute:hover {
  filter: invert(38%) sepia(34%) saturate(2292%) hue-rotate(183deg)
    brightness(95%) contrast(94%);
  cursor: pointer;
}
