thead {
  font-weight: bold;
  font-size: larger;
}

.playing {
  font-weight: bold;
}

.not-playing {
  font-weight: normal;
}

.pic-button {
  height: 24px;
  width: 24px;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
}

#clear-now-playing {
  float: right;
}

#save-playlist, #save-playlist-as{
  float:right;
  margin:2px;
}

#now-playing-header {
  margin: 3pt;
}