thead {
  font-weight: bold;
  font-size: larger;
}

.playing {
  font-weight: bold;
}

.not-playing {
  font-weight: normal;
}


#clear-now-playing {
  float: right;
}

#save-playlist,
#save-playlist-as {
  float: right;
  margin: 2px;
}

#now-playing-header {
  margin: 3pt;
}

.sorted-header {
  text-decoration: underline;
}

.notsorted-header {
  text-decoration: none;
}
