#cover-image {
  float: left;
  height: 32px;
  width: 32px;
}

#now-playing-current-time {
  float: left;
  font-size: x-small;
}

#now-playing-remaining-time {
  float: right;
  font-size: x-small;
}

.my-ui-text {
  -webkit-user-select: none;
}
