.albumView {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  grid-row: 2 / 4;
  grid-column: 2 / 5;
}

.albumChevron {
  transform: rotate(-90deg);
  height: 16px;
  width: 16px;
}

.albumContainer {
  padding: 5px;
}

.albumContainer:hover,
.albumContainer:focus,
.albumContainer:active {
  background-color: lavender;
  color: black;
}

.albumCover {
  height: 55px;
  width: 55px;
  float: left;
  margin-right: 5px;
}

.albumTitle {
  font-size: large;
  font-weight: 600;
}

.songForAlbum {
  display: grid;
  grid-template-columns: 1fr 25px 1fr;
  grid-template-rows: auto;
  overflow: hidden;
  vertical-align: middle;
}

.songForAlbum .songArtist {
  grid-column: 1;
  grid-row: 1;
}

.songForAlbum .songTrack {
  grid-column: 2;
  grid-row: 1;
}

.songForAlbum .songTitle {
  grid-column: 3;
  grid-row: 1;
}
