@media (max-width: 499px) {
  #nowPlayingSticky {
    display: none;
  }
}

#current-header {
  grid-row: 2;
  grid-column: 2/5;
  padding: 0px;
}

.now-playing-header {
  margin: 3pt;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.playing {
  font-weight: bold;
}

.save-playlist,
.np-clear-queue,
.save-playlist-as {
  margin: 2px;
  flex-grow: 0;
}

.np-current-playlist {
  text-align: center;
  flex-grow: 1;
}
