#outerThing {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

#now-playing-header {
  margin: 3pt;
  grid-row: 1;
  grid-column: 1;
}

.songHeader {
  grid-row: 2;
  grid-column: 1;
}

.playing {
  font-weight: bold;
}

#clear-now-playing {
  float: right;
}

.save-playlist,
.save-playlist-as {
  float: right;
  margin: 2px;
}

.sorted-header {
  text-decoration: underline;
}

.notsorted-header {
  text-decoration: none;
}

.songHeader {
  display: grid;
  grid-template-columns: 30px 0.8fr 0.8fr 25px 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  vertical-align: middle;
}
/*
Shamelessly swiped from
https://github.com/IanLunn/Hover/blob/master/css/hover.css
*/

.songContainer {
  display: grid;
  grid-template-columns: 30px 0.8fr 0.8fr 25px 1fr;
  grid-template-rows: 1fr;
  padding: 4px 0px 4px 4px;
  overflow: hidden;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: color, background-color;
}

.songContainer:hover,
.songContainer:focus,
.songContainer:active {
  background-color: lavender;
  color: black;
}

/* The rest of this is to make my eyes not bleed */
.oddSong {
  background-color: whitesmoke;
}

.songHeader {
  padding: 2pt;
  font-weight: bold;
  background-color: #eee;
}

.songTrack {
  grid-column: 4;
  grid-row: 1;
}

.songAlbum {
  grid-column: 2;
  grid-row: 1;
}

.songArtist {
  grid-column: 3;
  grid-row: 1;
}

.songTitle {
  grid-column: 5;
  grid-row: 1;
}
