.playing .card-title {
  font-weight: bold;
}

.not-playing {
  font-weight: normal;
}

.playlist-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
